@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #020617;
  color: white;
  font-family: Inter, system-ui, Arial, sans-serif;
}

::selection {
  background: #38bdf8;
  color: #020617;
}